/*===== GOOGLE FONTS =====*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

/*===== VARIABLES CSS =====*/
:root {
  /*========== Colors ==========*/
  --orange-color: #f58742;
  --dark-orange-color: #e27c3d;
  --gray-bg-color: #f5f5f5;
  --gray-txt-color: #342f2f;
  --light-gray-txt-color: #524b4b;
  --orange-color-svg: invert(78%) sepia(30%) saturate(6841%) hue-rotate(332deg)
    brightness(101%) contrast(92%);

  /*========== Font and typography ==========*/
  --body-font: "Poppins", sans-serif;

  --h1-font-size: 32px;
  --h2-font-size: 26px;
  --h3-font-size: 20px;
  --normal-font-size: 16px;
  --small-font-size: 12px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  max-width: 768px;
  margin: 0 auto;
  font-family: var(--body-font);
}

ul {
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--gray-txt-color);
}

.task-title {
  justify-content: flex-end;
  margin: 30px;
}

.add-task-btn {
  height: 50px;
}
